<p>Tus órdenes</p>
<a href="/profile">Volver a Home</a>
{{#each order}}
<p>Id de tu órden: {{this.userId}}</p>
<p>Fecha de tu orden: {{this.schedule}}</p>
<p>Hora de tu orden: {{this.time}}</p>
<p> Limpieza de carocería: {{this.limpiezaCarroceria}}</p>
<p> Limpieza de rines: {{this.limpiezaRines}}</p>
<p>Lavado de motor: {{this.lavadoMotor}}</p>
<p> Limpieza de vestiduras: {{this.limpiezaVestiduras}}</p>
<p>Descontaminante de cristales: {{this.descontaminanteCristales}}</p>
<p>Pulido de faros: {{this.pulidoFaros}}</p>
<p>Lavado de chasis: {{this.lavadoChasis}}</p>
<p>Encerado: {{this.encerado}}</p>
<p>Apirado: {{this.aspirado}}</p>
<a href="/editOrder/{{_id}}">Editar</a>
<a href="/delete/{{_id}}">Cancelar Pedido</a>
{{/each}}